<div style="background-color: rgb(12, 12, 12);">
  <div class="container">
<app-navbar></app-navbar>
    <h1>Now Playing movies</h1>
    <div *ngIf="!loading">
      <ng-container >

        <div class="grid-item mt-4" >
          <div *ngFor="let movie of dataSource.data" class=" card">
              <a ><img  class="card-img-top"  [src]="movie.poster_path ? 'https://image.tmdb.org/t/p/original/' + movie.poster_path : 'path_to_default_image'" alt="Card image cap" style="cursor: pointer;" ></a>
              <div class="card-block">
        <small >Title:&nbsp;&nbsp;{{movie.title}}</small><br>
        <small style="color: rgb(94, 255, 0);">Type:&nbsp;&nbsp;{{movie.type}}</small>
        <p>Year:{{movie.year}}</p>

              </div>
          </div>
        </div>


      <!-- <div class="movie-title">{{ movie.title }}</div> -->
    </ng-container>
    <mat-paginator
    [length]="totalPages"
    [pageIndex]="page - 1"
    [pageSize]="1"
    (page)="onPageChange($event)"
    showFirstLastButtons
    class="white-paginator"
  ></mat-paginator>
    </div>

  </div>

    <div  *ngIf="loading">
    <app-loading></app-loading>

  </div>






