
.container{
  background-color: black;
}
.card-block{
  color: white;
  text-align: center;
}
.card{
  background-color: rgb(34, 31, 31);
  height: 300px;
}
.card-img-top{
  height: 200px;
}

body {
  font-family: Montserrat, sans-serif;

}

.grid-item{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;

}
@media (max-width: 1200px){
  .grid-item{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;

  }
}
  @media (max-width: 1000px){
    .grid-item{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;

    }
    .form-inline{
      width: 100%;
    }
    .form-inline input{
      height: 1cm;
      margin-top: 8px;
    }
    .form-control {
      width: 100%;
    }
}
@media (max-width: 800px){
  .grid-item{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

  }


}
@media (max-width: 720px){
  .grid-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

  }

}
@media (max-width: 650px){
  .grid-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

  }

}
.card:hover{
  transform: scale(.95);
  transition: all 1s ease;
  z-index: 999;
}
/* Paginator Styles */
.white-paginator {
  background-color: white;
  color: black;
  border: 2px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  animation: fadeIn 0.5s;
}

.white-paginator:hover {
  background-color: #f0f0f0;
}

/* Animation Definitions */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* loading animation */

/* KEYFRAMES */
@keyframes spin3D {
  from {
    transform: rotate3d(.5,.5,.5, 360deg);
  }
  to{
    transform: rotate3d(0deg);
  }
}

/* GRID STYLING */

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  /* background-color: black; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:black; /* Add a semi-transparent background overlay if desired */
  z-index: 999; /* Ensure the spinner is on top of other content */
}

.spinner-box {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.leo {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.blue-orbit {
	width: 165px;
	height: 165px;
  border: 1px solid #91daffa5;
  -webkit-animation: spin3D 3s linear .2s infinite;
}

.green-orbit {
	width: 120px;
	height: 120px;
  border: 1px solid #91ffbfa5;
  -webkit-animation: spin3D 2s linear 0s infinite;
}

.red-orbit {
	width: 90px;
	height: 90px;
  border: 1px solid #ffca91a5;
  -webkit-animation: spin3D 1s linear 0s infinite;
}

.white-orbit {
	width: 60px;
	height: 60px;
  border: 2px solid #ffffff;
  -webkit-animation: spin3D 10s linear 0s infinite;
}

.w1 {
  transform: rotate3D(1, 1, 1, 90deg);
}

.w2 {
  transform: rotate3D(1, 2, .5, 90deg);
}

.w3 {
  transform: rotate3D(.5, 1, 2, 90deg);
}

