<section class="contact-area" id="contact">
  <div class="container">
<hr>

      <div class="row">
          <div class="col-lg-6 offset-lg-3">
              <div class="contact-content text-center">
                  <a href="#"><img src="../../../assets/movieworld-high-resolution-logo-transparent.png " alt="logo"></a>
                  <p>Lights, camera, action! Your premier destination for all things cinema.</p>
                  <div class="hr"></div>
                  <h6>Rayadurg,Anantapur(dist), Andhrapradesh.</h6>
                  <h6>shivaraj28581@gmail.com<span>|</span>+91 9505430381</h6>
                  <div class="contact-social">
                      <ul>
                          <li><a class="hover-target" href=""><i class="fa fa-facebook-f"></i></a></li>
                          <li><a class="hover-target" href=""><i class="fa fa-twitter"></i></a></li>
                          <li><a class="hover-target" href="https://www.instagram.com/s_shiva_raju?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><i class="fa fa-instagram"></i></a></li>
                          <li><a class="hover-target" href=""><i class="bi bi-linkedin"></i></a></li>
                          <li><a class="hover-target" href=""><i class="bi bi-github"></i></a></li>
                      </ul>

                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- =============== 1.9 Contact Area End ====================-->
<!-- =============== 1.9 Footer Area Start ====================-->
<footer>
  <p>Copyright &copy; 2023 <img src="../../../assets/ownerLogo.png " alt="logo"> All Rights Reserved.</p>
</footer>
