<strong>Top Rated Movies</strong>
<div class="grid-item mt-4" >
  <div *ngFor="let movie of topmovies" class=" card">
      <a ><img  class="card-img-top"  [src]="movie.poster_path ? 'https://image.tmdb.org/t/p/original/' + movie.poster_path : 'path_to_default_image'" alt="Card image cap" style="cursor: pointer;" ></a>
      <div class="card-block">
<h6 >Title:&nbsp;&nbsp;{{movie.title}}</h6><br>


      </div>
  </div>
</div>
<strong>Now Playing Movies</strong>
<div class="grid-item mt-4" >
  <div *ngFor="let movie of nowplyingmovies" class=" card">
      <a ><img  class="card-img-top"  [src]="movie.poster_path ? 'https://image.tmdb.org/t/p/original/' + movie.poster_path : 'path_to_default_image'" alt="Card image cap" style="cursor: pointer;" ></a>
      <div class="card-block">
<small >Title:&nbsp;&nbsp;{{movie.title}}</small><br>


      </div>
  </div>
</div>
<strong>Upcomming Movies</strong>
<div class="grid-item mt-4" >
  <div *ngFor="let movie of upcommingmovies" class=" card">
      <a ><img  class="card-img-top"  [src]="movie.poster_path ? 'https://image.tmdb.org/t/p/original/' + movie.poster_path : 'path_to_default_image'" alt="Card image cap" style="cursor: pointer;" ></a>
      <div class="card-block">
<small >Title:&nbsp;&nbsp;{{movie.title}}</small><br>


      </div>
  </div>
</div>
