
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>movieworld</title>
</head>
<body  class="container">
  <app-navbar></app-navbar>
<div class="page">
  <div id="carouselExampleAutoplaying" class="carousel slide d-flex " data-bs-ride="carousel" style="height: 400px;">
    <div class="carousel-inner">
      <div class="carousel-item active" *ngFor="let item of carousel; let i = index" [class.active]="i === 0">
        <img [src]="'https://image.tmdb.org/t/p/original/' + item.backdrop_path" class="d-block w-100" alt="...">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div >
  </div>
  <app-defaultmovieslayout></app-defaultmovieslayout>
  <app-footer></app-footer>
</div>

</body>

</html>





