html {
  background-color: black;
  height: fit-content;
}

body {
  background-color: rgb(15, 15, 15) !important;
  font-family: Montserrat, sans-serif;
  padding: 10px;
}

@media (max-width: 800px) {
  .carousel {
    justify-content: space-between !important;
    height: 200px !important;
  }
}
