<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>movie-world</title>
</head>
<body style="background-color: rgb(15, 15, 15);" class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><strong style="margin-left: 50px;">Movie World</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-md-auto gap-2">
          <li class="nav-item rounded">
            <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-house-fill me-2"></i>Home</a>
          </li>
          <li class="nav-item rounded">
            <a class="nav-link" routerLink="/new">New Movies</a>
          </li>
          <li class="nav-item rounded">
            <a class="nav-link" href="#">Web Series</a>
          </li>
          <li class="nav-item dropdown rounded">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Languages</a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Telugu</a></li>
              <li><a class="dropdown-item" href="#">Kannada</a></li>
              <li><a class="dropdown-item" href="#">Hindi</a></li>
              <li><a class="dropdown-item" href="#">Tamil</a></li>
              <li><a class="dropdown-item" href="#">Malayalam</a></li>
              <!-- <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Logout</a></li> -->
            </ul>
          </li>
          <li >
            <!-- <form  (submit)="hi()" class="form-inline my-2 my-lg-0 d-flex">
              <input [(ngModel)]="query" name="query" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0 ms-2" type="submit">Search</button>

            </form> -->
          </li>
        </ul>

      </div>
    </div>
    <form  (submit)="hi()" class="form-inline my-2 my-lg-0 ms-2 d-flex">
      <input [(ngModel)]="query" name="query" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 ms-2" type="submit">Search</button>

    </form>
  </nav>
  <div >
    <div class="grid-item mt-4" >
      <div *ngFor="let movie of movies" class=" card">
          <a ><img (click)=" navigateToDetailes(movie.id)" class="card-img-top" [src]="movie.url == 'N/A'? 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1200px-No-Image-Placeholder.svg.png':movie.url" alt="Card image cap" style="cursor: pointer;" ></a>
          <div class="card-block">
  <small >Title:&nbsp;&nbsp;{{movie.title}}</small><br>
  <small style="color: rgb(94, 255, 0);">Type:&nbsp;&nbsp;{{movie.type}}</small>
  <p>Year:{{movie.year}}</p>
  <div *ngFor="let item of Details ">
    <span>{{item.actors}}</span>
  </div>
          </div>
      </div>
  </div>
  </div>
</body>
</html>

