<!-- <div class="container">
  <mat-card>
    <mat-card-content>

      <div class="row">
        <div class="col-3">
          <mat-form-field appearance="outline">
            <mat-label>Select an option</mat-label>
            <mat-select disableRipple [(ngModel)]="selectedGenre">
              <mat-option *ngFor="let genre of genres "  [value]="genre">{{ genre.name }}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="col-3">
          <mat-form-field appearance="outline">
            <mat-label>Select an option</mat-label>
            <mat-select disableRipple [(ngModel)]="selectedLanguage">
              <mat-option *ngFor="let language of languages "  [value]="language">{{ language.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3"></div>
        <div class="col-3"></div>
      </div>
    </mat-card-content>
  </mat-card>
  <button (click)="clic()">hi</button>
</div> -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="container">

    <div class="row">






    </div>
    <button (click)="clic()"></button>
      <!-- <div class="col-lg-3 col-sm-12" >
    <mat-accordion >
          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
                Search by Filter
              </mat-panel-title>
            </mat-expansion-panel-header>


            <mat-card-content>
              <mat-form-field appearance="outline">
                <mat-label>Genre</mat-label>
                <mat-select disableRipple [(ngModel)]="selectedGenre">
                  <mat-option *ngFor="let genre of genres "  [value]="genre">{{ genre.name }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Language</mat-label>
                <mat-select disableRipple [(ngModel)]="selectedLanguage">
                  <mat-option *ngFor="let language of languages "  [value]="language">{{ language.name }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Year</mat-label>
                <mat-select disableRipple [(ngModel)]="selectedYear">
                  <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
                </mat-select>
              </mat-form-field>
            </mat-card-content>
            <div class="sub">

                <button *ngIf="selectedGenre || selectedLanguage" type="button" class="btn btn-success" (click)="clic()">Search</button>

            </div>
          </mat-expansion-panel>




        </mat-accordion>



      </div>
      <div class="col-lg-9 c col-sm-12">
        <mat-card>
          <mat-card-content>
            <button (click)="clic()">hi</button>


          </mat-card-content>
        </mat-card>
      </div> -->
    </div>

</body>
</html>


